
body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin: 8px;
}

h1 {
  text-transform: uppercase;
  font-weight: 300
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

main {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: max-content;
  grid-auto-flow: row dense;
}


img {
  width: 100%;
}

a {
  text-decoration: none;
}

h2{
  color: #000;
}

p {
  color: #666666;
}
